@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

:root {
    --normal-font: 400;
    --bold-font: 600;
    --bolder-font: 900;
     --line-height: 1.5rem;
    --transition: 0.2s ease-in;
  }

  html {
    scroll-behavior: smooth;
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: var(--transition);
      max-width: cover
  }

  body{
    font-family: 'Roboto', sans-serif;
    
  }
  ul li {
    list-style-type: none;
  }
  a{
      text-decoration: none;
  }
